h1 {
    margin: 0px 100px;
    margin-bottom: 20px;
}

h1,
h2,
h3,
h5 {
    color: rgb(134, 51, 51);
    background-color: rgb(228, 215, 215);
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    font-family: Monaco, "Times New Roman", sans-serif;
}

.tort-title {
    font-size: 55px;
}

.cookie-title {
    font-size: 75px;
}

img {
    display: block;
    width: 500px;
    height: auto;
    margin: 0 auto;
}

.cookie-img {
    width: 700px;
}

h2,
h3,
h5 {
    background-color: white;
    font-size: 40px;
    text-align: left;
}

h2,
h3 {
    margin-left: 10px;
}

h5 {
    font-size: 25px;
    margin-left: 65px;
    margin-bottom: 0;
}

p,
ol,
ul {
    font-size: 25px;
    font-family: Helvetica, "Times New Roman", sans-serif;
    background-color: rgb(255, 255, 212);
}

p {
    margin-left: 20px;
    margin-right: 65px;
}

ol,
ul {
    margin: 30px 65px;
    margin-top: 10px;
}

li {
    margin-bottom: 10px;
    border-top: 1px solid black;
}

.item-1 {
    border-top: 0px;
}

.recipe-list {
    background-color: rgb(255, 255, 212);
    font-size: 30px;
    text-align: left;
    font-family: Verdana, "Times New Roman", sans-serif;
}