h1,
h2,
h3,
h5 {
    color: rgb(134, 51, 51);
    background-color: rgb(228, 215, 215);
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    font-family: Monaco, "Times New Roman", sans-serif;
}

img {
    width: 500px;
    height: auto;
}

.cookie-img {
    width: 700px;
}

h2,
h3,
h5 {
    background-color: white;
    font-size: 40px;
    text-align: left;
}

h5 {
    font-size: 25px;
}

p,
ol,
ul {
    font-size: 25px;
    font-family: Helvetica, "Times New Roman", sans-serif;
    background-color: rgb(255, 255, 212);
}

.recipe-list {
    background-color: rgb(255, 255, 212);
    font-size: 30px;
    text-align: left;
    font-family: Verdana, "Times New Roman", sans-serif;
}